@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

body {
  margin-bottom: 20px;
  overflow-x: hidden;
  width: 100%;
  background-repeat:repeat;
  background-position:top;
  overflow-x: auto;
  font-family: 'Roboto', sans-serif;
}

.dropdown-menu.user {
  min-width: 80% !important;
}

.alert {
  font-size: 12px;
}

.login-card {
  padding: 40px;
  width: 360px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0 auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h1 {
  color: white;
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #d7a93c;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #b78e26;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.login-help a {
  color: white;
}


.navigation-bar {
}

.nav-content {
}

.ccs-text {
  font-size: 38px;
	color:#d7a93c;
	font-family:'helveticaneuemedium_italic';
	font-style:italic;
	text-shadow: 1px 1px 0 #856701;
  position: absolute;
  margin-left: 41px;
}

.dropdown-menu a {
  color: black;
}

.nav.navbar-nav li a {
  color: #ce8b0e;
}
